 
 

.pointer {cursor: pointer;}

.loader{
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.input-form-margin{
 margin-bottom: 10px;
 margin-right: 5px;
}

.margin_card_top {
 margin-top: 10px;
 margin-bottom: 10px;
}

.card-title{
    font-size: medium !important;
}

.margin_body_movies{
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex{
    display: flex;
}

.card-movie{
    min-height: 470px;
    max-width: 255px !important;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
   

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }

    .card-movie{
       max-width: 100% !important;
    }
  }

